/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Outfit&family=Roboto&family=Sacramento&display=swap');

/* 
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
*/

@font-face {
    font-family: TTHoves;
    src: url(../fonts/TTHoves-Medium/TTHoves-Medium.woff);
}

@font-face {
    font-family: BebasNeueBook;
    src: url(../fonts/BebasNeue/Commercial/OTF/BebasNeue-Book.otf);
}

@font-face {
    font-family: FinalSixBook;
    src: url(../fonts/Final.Six/Final.Six/FinalSix\ ExtraBold.ttf);
}

@font-face {
    font-family: FinalSixBlack;
    src: url(../fonts/Final.Six/Final.Six/FinalSix\ Black.ttf);
}

@font-face {
    font-family: FinalSixLight;
    src: url(../fonts/Final.Six/Final.Six/FinalSix\ Light.ttf);
}

@font-face {
    font-family: FianlSixMedium;
    src: url(../fonts//Final.Six/Final.Six/FinalSix\ Medium.ttf);
}

/* header */
.header {
    position: fixed;
    top: 3px;
    border-top: 2px solid #92191C;
    background-color: white;
    width: 100%;
    box-shadow: 0px 3px 14px #0000000F;
    z-index: 1;
}

.header .header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 16px;
}

.header .logo {
    display: inline-block;
}

.header .logo-a {
    display: inline-block;
}

.header .logo-img {
    width: 190px;
}

.header .right-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header .navbar .nav-link {
    font-size: 18px;
    font-family: 'TTHoves', sans-serif;
    color: black;
    transition: all 0.3s ease-out;
    position: relative;
}

.header .navbar .nav-link:hover {
    padding-bottom: 0;
    color: #92191C;
    transform: translateY(4px);
}

.header .nav-item:last-child .nav-link:hover {
    transform: translateY(0);
}

.header .navbar .nav-link::before {
    content: "\e473";
    font: var(--fa-font-solid);
    position: absolute;
    color: #92191C;
    font-size: 18px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-out;
    opacity: 0;
}

.header .nav-link:hover::before {
    opacity: 1;
    transform: translate(-50%,-10px);
}

.header .nav-item:last-child .nav-link::before {
    display: none;
}


.header .nav-item .dropdown-menu {
    border-radius: 0;
    border-top: 2px solid #92191C;
    top: 56px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    min-width: 254px;
}

.header .nav-item .show {
    opacity: 1;
}

.header .nav-item .dropdown-li {
    padding: 0 20px;
    background-color: white;
    transition: all 0.2s ease-out;
}

.header .nav-item .dropdown-li:hover {
    background-color:#F8F8F8; 
}

.header .dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
}

.header .nav-item .dropdown-item  {
    border-bottom: 1px dashed #BFBCBC;
    padding: 18px 0 9px;
}

.header .nav-item .dropdown-li:last-child .dropdown-item {
    border-bottom: none;
}

.header .login-btn {
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: #92191C;
    border-radius: 30px;
    border: 0;
    transition: all 0.3s ease-out;
    border: 1px solid transparent;
    text-decoration: none;
}

.header .login-btn:hover {
    background-color: white;
    border-color: #92191C;
}

.header .login-btn .icon {
    width: 39.4px;
    height: 39.4px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #92191C;
    background-color: white;
    font-size: 18px;
    transition: all 0.3s ease-out;
}

.header .login-btn:hover .icon {
    transform: translateX(60px);
    background-color: #92191C;
    color: white;
}

.header .login-btn .txt {
    color: white;
    font-family: 'TTHoves', sans-serif;
    font-size: 18px;
    transform: translateX(0);
    transition: all 0.3s ease-out;
}

.header .login-btn:hover .txt {
    transform: translateX(-60px);
    color: #92191C;
}

/* Banner */
.banner {
    padding: 244.55px 0 337px;
    background-image: url('../images/banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner .content {
    position: relative;
}

.banner .fda-div {
    position: absolute;
    width: 214px;
    top: -120px;
    right: -150px;
}

.banner .banner-img-div {
    margin-bottom: 39px;
}

.banner .banner-img {
    width: 456px;
}

.banner .heading-1 {
    font-family: 'BebasNeueBook', sans-serif;
    letter-spacing: 0px;
    margin-bottom: 0;
    font-size: 76px;
    line-height: 120px;
}

.banner .heading-2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 130px;
    letter-spacing: 0;
    line-height: 120px;
    margin-bottom: 13px;
}

.banner .banner-last-txt {
    font-family: 'FinalSixBook', sans-serif;
    font-size: 30px;
    color: #00A88E;
}

.banner .coming-div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 250px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: rgba(255, 255, 255, 0.94);
    display: flex;
    justify-content: end;
    align-items: end;
}

.banner .comming-player {
    width: 138px;
    height: 138px;
    padding-right: 16px;
}

/* Nature Section */
.nature {
    background: url('../images/nature-bg.png') right top / auto 100% no-repeat,transparent linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 1) 100%) 0% 0% no-repeat padding-box;
}

.nature .content {
    position: relative;
    padding: 175px 0 190px;
}

.nature .plots-main {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    transform: translateY(-50%);
    width: 100%;
}

.nature .plots-div {
    width: 78%;
    padding: 20px 150px;
    position: relative;
    border-radius: 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: url('../images/banner-bg.png');
    z-index: 2;
}

.nature .plots-div::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: ' ';
    background-color: rgba(0, 0, 0, 0.538);
    border-radius: 75px;
    z-index: -1;
}

.nature .plots-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nature .headings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nature .sm-heading {
    font-size: 22px;
    color: white;
    display: block;
}

.nature .lg-heading {
    font-size: 40px;
    color: white;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 12px;
}

.nature .types {
    display:  flex;
    gap: 16px;
}

.nature .type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nature .size {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    display: block;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}

.nature .size-type {
    color: white;
}

.nature .heading-1 {
    color: white;
    font-family: 'BebasNeueBook', sans-serif;
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 0;
}

.nature .heading-2 {
    font-family: 'Bebas Neue';
    font-size: 76px;
    line-height: 80px;
    color: #00A88E;
}

.nature .para {
    font-size: 22px;
    font-weight: 300;
    line-height: 34px;
    width: 55%;
    font-family: 'FinalSixLight', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.nature .sm-para {
    font-family: 'Dancing Script', cursive;
    color: #00A88E;
    font-size: 30px;
    margin-bottom: 0;
}

/* Facilities */
.facilities {
    padding-bottom: 116px;
    position: relative;
}

.facilities .content {
    display: flex;
    justify-content: end;
    padding-top: 83px;
}

.green-card {
    width: 30.5%;
    position: absolute;
    background-color: #00A88E;
    left: 0;
    top: 0;
}

.green-card .top-part {
    padding: 244px 65px 69px;
    text-align: center;
}

.green-card .heading-1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    line-height: 74px;
    color: white;
}

.green-card .heading-2 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 146px;
    line-height: 136px;
}

.green-card .bottom-part {
    padding: 88px 65px 93px;
    background-color: rgba(0, 154, 130, 1);
}

.green-card .para {
    font-size: 22px;
    line-height: 34px;
    color: white;
    font-family: 'FinalSixLight', sans-serif;
    text-align: center;
}


.facilities .sm-cards {
    width: 71%;
}

.facilities .sm-card {
    padding-bottom: 31px;
}

.facilities .fl-card .card-img-div {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.facilities .sl-card .card-img-div, .facilities .tl-card .card-img-div {
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
}


.facilities .card-link {
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-family: 'FianlSixMedium', sans-serif;
    position: relative;
    transform: translateY(0);
    display: block;
    transition: all 0.3s ease-out;
    padding-top: 9px;
}

.facilities .sm-card:hover .card-link {
    color: #00A88E;
    transform: translateY(4px);
}

.facilities .fl-card .card-link::after {
    position: absolute;
    width: 0;
    height: 2px;
    content: ' ';
    background-color: #00A88E;
    top: calc(100% + 8px);
    left: 0;
    transition: all 0.3s linear;
}

.facilities .fl-card:hover .card-link::after {
    width: 100%;
}

.facilities .sl-card .card-link::after {
    position: absolute;
    right: 0;
    color: #00A88E;
    content: "\e473";
    font: var(--fa-font-solid);
    opacity: 0;
    transition: all 0.3s ease-out;
}
.facilities .sl-card:hover .card-link::after {
    opacity: 1;
}

.facilities .tl-card:hover .card-link{
    color: black;
    transform: translateY(0);
}

/* Join Us */
.join-us {
    background: url('../images/join-us-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.join-us .logo-div {
    position: absolute;
    top: 82px;
    left: 0;
    width: 325px;
}

.join-us .content {
    height: 810px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.join-us .text-part {
    padding-bottom: 69px;
    text-align: center;
}

.join-us .heading {
    font-size: 79px;
    font-family: 'FinalSixBlack', sans-serif;
    color: white;
    line-height: 44px;
    margin-bottom: 0;
}

.join-us .and {
    font-family: 'Sacramento', cursive;
    color: #FFC100;
}

.join-us .para {
    font-family: 'FinalSixLight', sans-serif;
    font-size: 25px;
    line-height: 26px;
    color: white;
    margin-bottom: 0;
}

/* Chiniot */
.chiniot {
    padding-bottom: 251px;
    position: relative;
}

.chiniot .green-card {
    right: 0;
    left: unset;
    top: -184px;
}

.chiniot .green-card .top-part {
    padding: 116px 120px 78px;
}

.chiniot .green-card .bottom-part {
    padding: 108px 60px 90px;
}

.chiniot .content {
    padding-top: 57px;
}

.chiniot .main-content {
    width: 69%;
}

.chiniot .a-cards {
    margin-bottom: 67px;
}

.chiniot .animation-parent {
    width: 114px;
    height: 114px;
}

.chiniot .animation {
    width: 100%;
}

.chiniot .animation-txt {
    font-family: 'FianlSixMedium', sans-serif;
    font-size: 22px;
    line-height: 34px;
}

.chiniot .map {
    width: 100%;
    height: 346px;
    border-radius: 12px;
}

.chiniot .video {
    width: 100%;
    height: 346px;
    border-radius: 12px;
}

/* Footer */
.footer {
    background: linear-gradient(180deg, #000000 0%, #000000C1 100%) 0% 0% no-repeat, url('../images/footer-bg.png') center / cover no-repeat;
}

.footer .content {
    position: relative;
    padding-top: 774px;
    padding-bottom: 38px;
}

.footer .form-section {
    padding: 98px 115px 141px;
    background-color: #00A88E;
    border-radius: 12px;
    width: 100%;
    top: -100px;
    left: 0;
    position: absolute;
}

.footer .heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    color: white;
    text-align: center;
    margin-bottom: 95px;
}

.footer .input-element {
    width: 100%;
    padding: 22px;
    background-color: #005C4D;
    color: white;
    font-family: 'FinalSixLight', sans-serif;
    border: 0;
    border-radius: 6px;
    margin-bottom: 16px;
}

.footer .input-element::placeholder {
    color: white;
}

#textarea {
    resize: none;
}

.footer .button-div {
    display: flex;
    justify-content: end;
}

.footer .button {
    color: #00A88E;
    background-color: white;
    padding: 14px 36px;
    border: 0;
    border-radius: 70px;
    border: 1px solid white;
    transition: all 0.3s ease-out;
    font-size: 18px;
    font-family: 'FinalSixMedium', sans-serif;
}

.footer .button:hover {
    color: white;
    background-color: transparent;
}

.footer .f-logo {
    display: inline-block;
    margin-bottom: 54px;
}

.footer .f-logo-a {
    display: inline-block;
}

.footer .para {
    font-size: 18px;
    font-family: 'FinalSixLight', sans-serif;
    line-height: 31px;
    color: white;
    margin-bottom: 0;
    width: 90%;
}

.footer .links {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    padding-top: 26px;
}

.footer .link-item {
    margin-bottom: 24px;
}

.footer .link {
    font-family: 'FinalSixMedium', sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: white;
}
.footer .link:hover {
    font-weight: bold;
}

.footer .fr-content {
    padding-top: 26px;
}

.footer .contact-info {
    padding-left: 0;
}

.footer .contact-heading {
    color: white;
    font-family: 'FinalSixMedium', sans-serif;
    margin-bottom: 23px;
    font-size: 22px;
}

.footer .contact-item {
    margin-bottom: 14px;
}

.footer .contact-link {
    color: white;
    text-decoration: none;
    font-family: 'FinalSixLight', sans-serif;
    line-height: 30px;
}

.footer .contact-link::before {
    font: var(--fa-font-solid);
    color: white;
    font-size: 20px;
    margin-right: 9.5px;
}

.footer .phone::before {
    content: "\f095";
}

.footer .mail::before {
    content: "\f0e0";
}

.footer .location::before {
    content: "\f3c5";
}

.footer .social-links {
    padding-left: 0;
    margin-bottom: 0;
}

.footer .social-item {
    display: inline-flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
    margin-right: 9px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer .social-link {
    font-size: 16px;
}

.footer .social-item:hover .social-link {
    font-size: 17px;
}

.footer .fb {
    color: #3b5998;
}

.footer .in {
    color: #0072b1;
}

.footer .tw {
    color: #00acee;
}

.footer .yt {
    color: #c4302b;
}

/* Media Queries with Max-Width */
@media screen and (max-width: 1853px) {
    /* Facilities */
    .green-card .heading-1 {
        font-size: 60px;
        line-height: 64px;
    }

    .green-card .heading-2 {
        font-size: 120px;
        line-height: 120px;
    }

    .green-card .para {
        font-size: 20px;
    }

    /* Chiniot Green Card */
    .chiniot .green-card .bottom-part {
        padding: 116px 60px 100px;
    }
}

@media screen and (max-width: 1750px) {
    /* Banner */
    .banner .fda-div {
        right: 0;
    }

    /* Nature */
    .nature .content {
        padding: 120px 0;
    }

    .nature .para {
        width: 51%;
        font-size: 20px;
        line-height: 30px;
    }

    /* Facilities */
    .green-card {
        width: 28%;
    }

    .green-card .top-part {
        padding: 244px 50px 69px;
    }

    .green-card .heading-1 {
        font-size: 46px;
        line-height: 50px;
    }

    .green-card .heading-2 {
        font-size: 92px;
        line-height: 92px;
    }

    .green-card .bottom-part {
        padding: 88px 50px 93px;
    }

    .green-card .para {
        font-size: 18px;
        line-height: 26px;
    }

    /* Chiniot Green Card */
    .chiniot .green-card .top-part {
        padding: 170px 0px 110px;
    }
}

@media screen and (max-width: 1576px) {
    .chiniot .green-card .bottom-part {
        padding: 116px 58px 100px;
    }
}

@media screen and (max-width: 1500px) {
    /* Chiniot */
    .chiniot {
        padding-bottom: 200px;
    }

    .chiniot .green-card .bottom-part {
        padding: 116px 44px 100px;
    }

    .chiniot .green-card .para {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1400px) {
    /* Header */
    .header .header-content {
        padding: 12px 0;
    }

    .header .logo-img {
        width: 170px;
    }

    .header .navbar .nav-link {
        font-size: 16px;
    }

    .header .login-btn {
        padding: 8px 18px;
    }

    .header .login-btn .icon {
        width: 34px;
        height: 34px;
    }

    .header .login-btn:hover .txt {
        transform: translateX(-50px);
    }

    .header .login-btn .txt {
        font-size: 17px;
    }

    /* Banner */
    .banner {
        padding-top: 200px;
        padding-bottom: 250px;
    }
    .banner .banner-img-div {
        margin-bottom: 26px;
    }

    .banner .fda-div {
        width: 180px;
    }

    .banner .banner-img {
        width: 250px;
    }

    .banner .heading-1 {
        font-size: 60px;
        line-height: 80px;
    }

    .banner .heading-2 {
        font-size: 80px;
        line-height: 80px;
    }

    .banner .banner-last-txt {
        font-size: 22px;
    }

    .banner .coming-div {
        width: 256px;
        height: 220px;
    }

    .banner .comming-player {
        width: 130px;
        height: 130px;
    }

    /* Nature */
    .nature {
        background: url('../images/nature-bg.png') 176% top / auto 100% no-repeat,transparent linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 1) 100%) 0% 0% no-repeat padding-box;
    }

    .nature .plots-div {
        padding: 18px 60px;
        width: 60%;
    }

    .nature .sm-heading {
        font-size: 16px;
    }

    .nature .lg-heading {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 8px;
    }

    .nature .types {
        gap: 10px;
    }

    .nature .size {
        font-size: 32px;
        line-height: 36px;
    }

    .nature .content {
        padding: 100px 0;
    }

    .nature .para {
        width: 48%;
        font-size: 16px;
        line-height: 24px;
    }

    /* Facilities */
    .green-card {
        position: static;
        width: 100%;
        margin-bottom: 30px;
    }

    .green-card .top-part {
        text-align: center;
        padding: 60px 0;
    }

    .green-card .bottom-part {
        padding: 60px 50px 60px;
    }

    .facilities {
        padding-bottom: 60px;
    }

    .facilities .content {
        padding-top: 0;
        flex-direction: column;
    }

    .facilities .sm-cards {
        width: 100%;
    }

    /* Join Us Section */
    .join-us .content {
        height: 700px;
    }
    .join-us .logo-div {
        width: 275px;
    }

    .join-us .heading {
        font-size: 70px;
    }

    .join-us .para {
        font-size: 23px;
    }

    /* Chiniot */
    .chiniot {
        padding-bottom: 175px;
    }

    .chiniot .content {
        padding-top: 0;
    }

    .chiniot .main-content {
        width: 100%;
    }

    .chiniot .green-card .top-part {
        padding: 50px 0;
    }

    .chiniot .green-card .bottom-part {
        padding: 60px 50px 60px;
    }

    /* Footer */
    .footer .content {
        padding-top: 710px;
        padding-bottom: 20px;
    }

    .footer .form-section {
        padding: 98px 100px 126px;
    }

    .footer .f-logo {
        margin-bottom: 40px;
    }

    .footer .f-logo-img {
        width: 220px;
    }
}

@media screen and (max-width: 1200px) {
    /* Header */
    .header .logo-img {
        width: 160px;
    }

    .header .login-btn {
        padding: 10px 21px;
    }

    /* Banner */
    .banner {
        padding-bottom: 220px;
    }
    .banner .banner-img {
        width: 250px;
    }

    .banner .heading-1 {
        font-size: 60px;
    }

    .banner .heading-1 {
        font-size: 90px;
    }

    .banner .coming-div {
        width: 240px;
        height: 216px;
    }

    .banner .comming-player {
        width: 120px;
        height: 120px;
    }

    /* Nature */
    .nature {
        background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 1) 100%) 0% 0% no-repeat padding-box;
    }

    .nature .plots-div {
        padding: 16px 60px;
        width: 40%;
    }

    .nature .plots-info:first-child {
        margin-bottom: 16px;
    }

    .nature .lg-heading {
        font-size: 36px;
        line-height: 36px;
    }

    .nature .types {
        gap: 7px;
    }

    .nature .para {
        width: 80%;
    }

    /* Facilities */
    .facilities {
        padding-bottom: 24px;
    }

    .footer .form-section {
        padding: 80px 60px 100px;
    }

    .footer .heading {
        margin-bottom: 60px;
    }

    /* Footer */
    .footer .content {
        padding-top: 650px;
    }
    
    .footer .logo {
        margin-bottom: 30px;
    }

    .footer .para {
        width: 100%;
        font-size: 16px;
        line-height: 28px;
    }

    .footer .link-item {
        margin-bottom: 20px;
    }

    .footer .contact-item {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 991.9px) {
    /* Header */
    .header .right-part {
        flex-direction: row-reverse;
    }

    .header .login-btn {
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .header .login-btn:hover .icon {
        transform: translate(0);
        color: white;
        background-color: #92191C;
    }

    .header .login-btn .txt {
        display: none;
    }

    /* NavBar Setting */
    .header {
        position: relative;
    }

    .header .navbar {
        position: unset;
    }

    .header .navbar .navbar-toggler {
        padding: 0;
        border: 0;
    }

    .header .navbar .navbar-toggler:focus {
        box-shadow: none;
    }

    .header .navbar-collapse {
        position: absolute;
        top: 101%;
        left: 0;
        width: 100%;
    }
    
    .header .nav-item {
        background-color: white;
        padding-left: 20px;
    }

    .header .navbar .nav-link:hover {
        transform: translateY(0);
    }

    .header .navbar .nav-link::before {
        display: none;
    }

    /* Banner */
    .banner {
        padding-top: 150px;
        padding-bottom: 216px;
    }

    .banner .fda-div {
        width: 190px;
    }

    .banner .coming-div {
        width: 220px;
        height: 208px;
    }

    .banner .comming-player {
        width: 106px;
        height: 106px;
    }

    /* Nature */
    .nature {
        background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 1) 100%) 0% 0% no-repeat padding-box;
    }

    .nature .plots-div {
        width: 60%;
    }

    .nature .para {
        width: 100%;
    }

    /* Facilities */
    .facilities .sm-card {
        padding-bottom: 22px;
    }

    .facilities .card-link {
        font-size: 20px;
    }

    /* Chiniot */
    .chiniot {
        padding-bottom: 130px;
    }
    .chiniot .animation-txt {
        font-size: 18px;
    }

    .chiniot .map {
        height: 300px;
    }

    .chiniot .video{
        height: 300px;
    }

    /* Footer */
    .footer .content {
        padding-top: 730px;
    }

    .footer .form-section {
        padding: 80px 60px;
    }

    .footer .heading {
        font-size: 48px;
        margin-bottom: 44px;
    }

    .footer .f-logo {
        margin-bottom: 20px;
    }

    .footer .link-item {
        margin-bottom: 8px;
    }

    .footer .contact-item {
        margin-bottom: 6px;
    }

    .footer .contact-link::before {
        font-size: 17px;
    }
}

@media screen and (max-width: 768px) {
    /* Banner */
    .banner {
        padding-top: 130px;
        padding-bottom: 170px;
    }
    .banner .fda-div {
        width: 140px;
        top: -80px;
    }

    .banner .banner-img {
        width: 200px;
    }

    .banner .heading-1 {
        font-size: 50px;
        line-height: 54px;
    }

    .banner .heading-2 {
        font-size: 74px;
        line-height: 76px;
        margin-bottom: 0;
    }

    .banner .banner-last-txt {
        font-size: 20px;
    }

    .banner .coming-div {
        width: 180px;
        height: 160px;
    }

    .banner .comming-player {
        width: 90px;
        height: 90px;
    }

    /* Nature */
    .nature .content {
        padding: 90px 0;
    }

    .nature .plots-main {
        justify-content: start;
    }

    .nature .plots-div {
        padding: 16px 40px;
        width: 70%;
    }

    .nature .heading-1 {
        font-size: 54px;
    }

    /* Join Us */
    .join-us .heading {
        font-size: 66px;
    }

    .join-us .para {
        font-size: 19px;
    }

    /* Chiniot */
    .chiniot {
        padding-bottom: 120px;
    }

    .chiniot .map-parent {
        margin-bottom: 22px;
    }

    .chiniot .map {
        height: 250px;
    }

    .chiniot .video {
        height: 250px;
    }

    /* Footer */
    .footer .form-section {
        padding: 60px 40px;
    }
    
    .footer .contact-link {
        font-size: 15px;
    }

    .footer .social-item {
        width: 32px;
        height: 32px;
    }

    .footer .social-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    /* Nature */
    .nature .content {
        padding: 90px 0;
    }
    .nature .heading-1 {
        font-size: 50px;
        line-height: 60px;
    }

    .nature .heading-2 {
        font-size: 70px;
        line-height: 73px;
    }

    .nature .plots-info {
        margin-bottom: 6px;
    }

    .nature .sm-heading {
        font-size: 14px;
    }

    .nature .lg-heading {
        font-size: 28px;
        letter-spacing: 7px;
    }

    .nature .types {
        gap: 6px;
    }

    .nature .size-type {
        font-size: 14px;
    }

    /* Footer */
    .footer .content {
        padding-top: 540px;
    }

    .footer .form-section {
        padding: 50px 30px;
    }

    .footer .button {
        padding: 10px 30px;
    }

    .footer .heading {
        font-size: 40px;
        margin-bottom: 22px;
    }

    .footer .input-element {
        padding: 18px;
        margin-bottom: 12px;
    }

    .footer .links {
        padding-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    /* Banner */
    .banner {
        padding-top: 94px;
        padding-bottom: 146px;
    }

    .banner .fda-div {
        width: 120px;
    }

    .banner .banner-img {
        width: 174px;
    }

    .banner .heading-1 {
        font-size: 46px;
        line-height: 48px;
    }

    .banner .heading-2 {
        font-size: 58px;
        line-height: 60px;
    }

    .banner .coming-div {
        height: 130px;
        width: 156px;
    }

    .banner .comming-player {
        width: 74px;
        height: 74px;
    }

    /* Nature */
    .nature .plots-div {
        width: 66%;
        border-radius: 35px;
        padding: 16px 20px;
    }

    .nature .plots-div::before {
        border-radius: 35px;
    }

    .nature .lg-heading {
        font-size: 24px;
        letter-spacing: 6px;
    }

    .nature .sm-heading {
        font-size: 12px;
    }

    .nature .size {
        font-size: 28px;
        line-height: 28px;
    }


    .nature .size-type {
        font-size: 12px;
    }

    .nature .heading-1 {
        font-size: 46px;
        line-height: 54px;
    }

    .nature .heading-2 {
        font-size: 54px;
        line-height: 58px;
    }

    .nature .content {
        padding: 100px 0;
    }

    .nature .para {
        font-size: 14px;
        text-align: justify;
    }

    .nature .sm-para {
        font-size: 27px;
    }

    /* Join Us */
    .join-us .content {
        height: 640px;
    }

    .join-us .logo-div {
        width: 240px;
    }

    /* Chiniot */
    .chiniot .green-card .top-part {
        padding: 40px 0;
    }

    .green-card .heading-1 {
        font-size: 34px;
        line-height: 34px;
    }

    .green-card .heading-2 {
        font-size: 64px;
        line-height: 64px;
    }

    .chiniot .green-card .bottom-part {
        padding: 40px 30px;
    }

    .chiniot .animation-txt {
        line-height: 26px;
        font-size: 14px;
    }

    .chiniot .map {
        height: 200px;
    }

    .chiniot .video {
        height: 200px;
    }

    /* Footer */
    .footer .content {
        padding-top: 500px;
    }

    .footer .form-section {
        padding: 40px 20px;
    }

    .footer .heading {
        font-size: 34px;
    }

    .footer .input-element {
        font-size: 14px;
    }

    .footer .f-logo-img {
        width: 180px;    
    }

    .footer .para {
        font-size: 15px;
        line-height: 24px;
    }

    .footer .link-item {
        margin-bottom: 2px;
    }

    .footer .fr-content {
        padding-top: 14px;
    }

    .footer .contact-heading {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 380px) {
    /* Header */
    .header .header-content {
        padding: 8px 0;
    }

    .header .logo-img {
        width: 120px;
    }

    .header .right-part {
        gap: 0px;
    }

    .header .login-btn .icon {
        width: 32px;
        height: 32px;
    }

    /* Banner */
    .banner {
        padding-bottom: 120px;
    }

    .banner .heading-1 {
        font-size: 36px;
        line-height: 38px;
    }

    .banner .heading-2 {
        font-size: 43px;
        line-height: 45px;
    }

    .banner .banner-last-txt {
        font-size: 14px;
    }

    .banner .coming-div {
        height: 110px;
        width: 130px;
    }

    .banner .comming-player {
        padding-right: 6px;
    }

    /* Nature */
    .nature .content {
        font-size: 60px;
    }

    .nature .plots-div {
        width: 74%;
    }

    .nature .type {
        justify-content: start;
    }

    .nature .lg-heading {
        font-size: 20px;
        letter-spacing: 5px;
    }

    .nature .sm-heading {
        font-size: 10px;
    }

    .nature .size-type {
        font-size: 9px;
    }

    .nature .heading-1 {
        font-size: 36px;
        line-height: 42px;
    }

    .nature .heading-2 {
        font-size: 48px;
        line-height: 50px;
    }

    .nature .para {
        line-height: 22px;
    }

    .nature .sm-para {
        font-size: 22px;
    }

    /* Facilities */
    .green-card {
        margin-bottom: 20px;
    }

    .green-card .top-part {
        padding: 40px 0;
    }

    .green-card .heading-1 {
        font-size: 36px;
        line-height: 38px;
        margin-bottom: 0;
    }

    .green-card .heading-2 {
        font-size: 74px;
        line-height: 74px;
    }

    .green-card .bottom-part {
        padding: 40px 20px;
    }

    .green-card .para {
        font-size: 16px;
        line-height: 20px;
    }

    .facilities .sm-card {
        padding-bottom: 14px;
    }

    .facilities .card-link {
        font-size: 18px;
        padding-top: 4px;
    }

    /* Join Us */
    .join-us .content {
        height: 600px;
    }
    .join-us .logo-div {
        width: 230px;
    }

    .join-us .heading {
        font-size: 50px;
    }

    .join-us .para {
        font-size: 18px;
    }

    /* Footer */
    .footer .form-section {
        padding: 34px 12px;
    }

    .footer .heading {
        font-size: 27px;
        margin-bottom: 16px;
    }

    .footer .button {
        padding: 9px 28px;
    }
}

/* Media Queries with Min-Width */
@media screen and (min-width: 1500px) {
    /* Global Styling */
    .container {
        min-width: 1436px;
    }
}

@media screen and (min-width: 992px) {
    /* Header */
    .header .nav-item .nav-link {
        padding: 0 20px;
    }
}